header{
    border: 1px solid grey;
    width: 260px;
}
article, section, footer {
    border: 1px solid grey;
    width: 250px;
}
footer {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
article{
    padding-left: 10px;
}
section{
    padding-left: 10px;
}
img{
    width: 260px;
    height: 260px;
}
#firstLink{
    padding-right: 20px;
}